// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

UL {
	list-style-type: none;
}

#error_explanation {
	margin-bottom: 23px;
	color:red;
	LI { color: crimson; }
}
